@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size: 3.2rem;
}
.countdown{
    display: flex;
    gap: 100px;
}
.day, .hour, .minute, .second{
    font-size: 2.5rem;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    text-align: center;
}
.container img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px #ccc;
    margin-top: 70px;
}